* {
    font-family: Poppins;
}

li {
    list-style-type: none;
}

.sidebar {
    text-align: right;
    width: 220px;
    color: #757980;
    display: inline-block;
    vertical-align: top;
}

.sidebar a {
    color: #757980;
    text-decoration: none;
}

.sidebar ul {
    padding: 0;
}

.sidebar li {
    font-weight: normal;
}

.sidebar > ul > li {
    font-weight: bold;
    margin-bottom: 20px;
}

.sidebar > ul > li > ul > li {
    font-size: 15px;
}

.info {
    margin-top: 5%;
}

.content {
    display: inline-block;
    width: 50%;
    margin-top: 5%;
    margin-left: 5%;
}

.content iframe {
    margin-bottom: 2%;
}

@font-face {
	font-family: "Poppins";
	src: url("./fonts/Poppins/Poppins-Regular.ttf");
}

@font-face {
	font-family: "Poppins";
	src: url("./fonts/Poppins/Poppins-Bold.ttf");
	font-weight: bold;
}

@font-face {
	font-family: "Poppins";
	src: url("./fonts/Poppins/Poppins-Italic.ttf");
	font-style: italic;
}

@font-face {
	font-family: "Poppins";
	src: url("./fonts/Poppins/Poppins-BoldItalic.ttf");
	font-weight: bold;
	font-style: italic;
}