* {
    font-family: Verdana;
}

li {
    list-style-type: none;
}

.sidebar {
    text-align: right;
    width: 280px;
    color: #757980;
    display: inline-block;
    vertical-align: top;
}

.sidebar a {
    color: #757980;
    text-decoration: none;
}

.sidebar ul {
    padding: 0;
}

.sidebar li {
    font-weight: normal;
}

.sidebar > ul > li {
    font-weight: bold;
    margin-bottom: 20px;
}

.sidebar > ul > li > ul > li {
    font-size: 14px;
}

.info {
    margin-top: 5%;
}

.content {
    display: inline-block;
    width: 50%;
    margin-top: 5%;
    margin-left: 5%;
}
